<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.hzw.graffiti">

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
            >
        <activity android:name=".GraffitiActivity"/>
    </application>

</manifest>
